* {
  box-sizing: border-box;
}

body {
  background-color: rgb(180, 180, 180);
}

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

.header {
  color: #feca1b;
  font-size: 4rem;
}

.header h4 {
  -webkit-text-stroke-width: 0.2rem;
  -webkit-text-stroke-color: #2c72b8;
}

.header p {
  font-size: 1.5rem;
  -webkit-text-stroke-width: 0.05rem;
  -webkit-text-stroke-color: #2c72b8;
}

#searchSelect {
  background-color: blue;
}


.searchBtn {
  margin-left: 0.5rem;
}

#searchDropdown {
  margin-left: 0.5rem;
}
