@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');

.pokeCard {
  
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;

  padding-top: 2rem;
  font-family: 'Joan', serif;
}

.infoDiv{
  margin-left: 0rem;
  margin-top: 2rem;
}

#pokeName{
  margin-left: 1rem;
  margin-right: 1rem;
}

.arrow{
  cursor: pointer;
}

@media only screen and (min-width: 40rem){

  .infoDiv{
    font-size: 1.3rem;
    margin-top: 1rem;
    margin-left: 3rem;
  }

  .infoDiv * {
    margin-top: 1rem;
  }

}

